body {
padding: 1% 0.5%;
background: rgba(57, 104, 124, 0.92);
}

header {
  background: rgba(227, 229, 238, 0.53);
  padding: 5%;
  text-align: center;
}

main {
  width: 90%;
  height: 70%;
  padding: 5%;
  background: rgba(227, 229, 238, 0.53);

  
  box-sizing: border-box;
}



h1 {
font-size: 36px;

}
 .proyectos {

    height: 18%;
    width: 28%;

 }
