* {
  padding: 0;
  margin: 0;
}

body  {
  background: rgba(6, 50, 51, 0.99);
}

header  {
  width: 97%;
  height: 180px;
  margin: auto;
  padding-top: 50px;
  margin-top: 15px;
  background: rgba(235, 244, 242, 0.69);
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 15px;
}


main  {
  width: 97%;
  background:rgba(227, 229, 238, 0.53);
  margin: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
}

section {
  width: 98%;
  margin: auto;
  background-color: rgba(10, 53, 59, 0.85);
  padding-top: 5px;
}

section #grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  width: 97%;
  height: 100px;
  background-color: rgba(235, 244, 242, 0.69);
  margin: auto;
  margin-top: 7px;
  font-size: 18px;
}

footer #pie_de_pagina  {
  margin: auto;
  padding-top: 25px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: rgb(6, 50, 51) ;
}

footer p {
  padding-bottom: 7px;
}
